# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\BoBBy\Desktop\web-assignment-vbobbyv-1\Assignment\iscg7420-Assignment1\spaceout\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
