{% extends 'ecommerce_app/base.html' %}

{% block content %}
    {% for spaceobject in spaceobjects %}
        <div class="ui card">
         {% if spaceobject.image %}
             <div class="image">
                <img src={{ spaceobject.image }}>
              </div>
         {% endif %}
          <div class="content">
            <a class="header">{{ spaceobject.name }}</a>
            <div class="meta">
              <span class="date">{{ spaceobject.category }}</span>
            </div>
            <div class="description">
                {{ spaceobject.description}}
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
                {{ spaceobject.price}}
            </a>
          </div>
        </div>
    {% endfor %}
{% endblock %}