{% extends 'ecommerce_app/base.html' %}

{% block content %}
{% for category in categories %}
    <div class="ui list">
      <div class="item">
          {% if category.image %}
            <img class="ui avatar image" src={{ category.image.url }} alt={{ category.name }}>
          {% endif %}
        <div class="content">
          <a class="header" href="{% url 'viewcategory' category.id %}">{{ category.name }}</a>
          <div class="description">{{ category.description }}</div>
        </div>
      </div>
    </div>
{% endfor %}
{% endblock %}