{% extends 'ecommerce_app/base.html' %}

{% block content %}
    {% if user.is_authenticated and user.is_superuser or user.is_order_manager %}
        <h1 style="text-align: center">Welcome back admin {{ user.username }} !</h1>
        <div class="ui bulleted list">
            <a class="item" href="{% url 'createspaceobject' %}">Add Space Object</a>
            <a class="item" href="{% url 'createcategory' %}">Add Category</a>
            <a class="item" href="{% url 'creatediscount' %}">Add Discount</a>
        </div>
    {% elif user.is_authenticated and user.is_customer %}
        <h1 style="text-align: center">Welcome back customer {{ user.username }} !</h1>
        <h4 style="text-align: center">Please go to Space Objects to browse products!</h4>
        <div class="ui bulleted list">
            <a class="item" href="{% url 'createorder' %}">Add Order</a>
            <a class="item" href="{% url 'createpayment' %}">Add Payment</a>
            <a class="item" href="{% url 'createshipment' %}">Add Shipment</a>
            <a class="item" href="{% url 'createreview' %}">Add Review</a>
        </div>
    {% else %}
        <h1 style="text-align: center">Online market place to browse, buy, sell space objects!</h1>
        <h4 style="text-align: center">Please sign in to unlock more features!</h4>
        <h4 style="text-align: center">Admin and Customer have separate features!</h4>
    {% endif %}
{% endblock %}