{% extends 'ecommerce_app/base.html' %}

{% block content %}
{% for spaceobject in spaceobjects %}
    <div class="ui card" href="#">
     {% if spaceobject.image %}
         <div class="image">
            <img src={{ spaceobject.image.url }}>
          </div>
     {% endif %}
      <div class="content">
        <a class="header" href="{% url 'viewspaceobject' spaceobject.id %}">{{ spaceobject.name }}</a>
        <div class="meta">
            {% for category in spaceobject.category.all %}
                <a class="ui teal tag label" href="{% url 'viewcategory' category.id %}">{{ category.name }}</a>
            {% endfor %}
        </div>
        <div class="description">
            {{ spaceobject.description}}
        </div>
      </div>
      <div class="extra content">
        <a>

          <i class="dollar sign icon"></i>
            {{ spaceobject.price}}
        </a>
        <a href="{% url 'addtocart' spaceobject.id %}" class="ui primary button">
            Add to cart
        </a>
      </div>
    </div>
{% endfor %}
{% endblock %}